header {
  width: 50px;
}
.SendBox {
  position: relative;
  width: 20%;
  float: left;
  height: 100%;
  background-color: orange;
}

.ChatBox {
  background-color: yellow;
  position: relative;
  width: 80%;
  float: left;
  height: 100%;
}
